@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

// inicio de nav
.index{
    img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
    .responsive {
        width: 100%;
        height: auto;
    }
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("img/Diseño\ sin\ título.jpg");
    height: 120px;
    width: 100%;
        .container-logo {
            display: flex;
            align-items: center;
        }
        nav {
            float: right;
            margin-right: 10px;
            margin-top: 15px;
            padding: 10px 0;
        }
        .titulo_pages {
            float: right;
            font-size: 28px;
            align-items: center;
            display: flex;
        }
        ul {
            display: fixed;
            list-style: none;
            li {
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                &:hover {
                    transform: scale(1.2);
                    transition: 0.3s;
                    a:hover {
                        text-decoration: none;
                    }
                }
                a {
                    color: $color4;
                    text-decoration: none;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-family: 'Bebas Neue', cursive;
                    padding: 10px 0;
                    &:hover {
                        color: $color2;
                    }
                }
            }
        }
}
// fin de nav

// inicio hamburger bar

\* #hamburger-icon {
    float: right;
    align-items: center;
    display: flex;
    margin: 15px;
    cursor: pointer;
        div {
            width: 35px;
            height: 3px;
            background-color: $color4;
            margin: 6px 0;
            transition: 0.4s;
        }
}

.navt {
    font-size: 11px;
    font-family: $font2;
    color: $color4;
    text-align: center;
    text-transform: capitalize;
}

.open   {
    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
    }
    .mobile-menu {
        z-index: 4;
        margin-top: -10px;
        background-color: $color2;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
            li {
                height: 55px;
                width: 100%;
                margin: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                    &:hover {
                        background-color: $color4;
                    }
                    &:hover a {
                        color: $color2;
                    }
        }
    }
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 130px;
    left: 0px;
    height: calc(100vh - 50px);
    width: 100%;
}
// Hamburger bar fin

// Inicio de Main
main {
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

main.index {
    background-image: url(img/chicken-nuggets-with-french-fries-and-human-hand-in-clay-dishes.jpg);
    background-size: cover;
    background-position: center;
    object-fit: center;
    padding: 0px 25px 0px 25px;
}

section {
    width: 100%;
    color: $color2;
    text-align: center;
}
// Fin de Main

// Sección Noticias index
.table {
    font-family: $font2;
    margin: 15px auto 15px auto;
    width: 80%;
    height: 100px;
}

.tikets {
    width: 80%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.container_img_promociones {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        .card {
            width: 450px;
            height: 575px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            align-items: center;
            align-content: center;
                h5 {
                    margin-top: 5px;
                }
        }
}

section .noticias {
    font-size: 150px;
}

.label {
    display: inline-block;
    min-width: 60px;
    text-align: left;
}

.noticias p {
    font-size: 12px;
    font-family: $font2;
    font-weight: lighter;
    margin: 0px 20px 20px 20px;
    color: $color2;
    text-align: center;
    text-transform: lowercase;
        span {
            color: $color3;
        }
}

fieldset {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

form {
    display: flex;
    justify-content: center;
}
// Fin sección Noticias index

// inicio footer
footer {
    height: auto;
    width: 100%;
    background-image: url("img/Diseño\ sin\ título.jpg");
    color: $color2;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
        a{
            font-size: 35px;
            color: $color2;
            text-shadow: 0 0 0px;
            transition: 0.3s ease;
            &:hover{
                color: $color2;
                text-shadow: 0 0 10px;
            }
        }
        p {
            font-size: 22px;
            padding: 10px;
            margin-top: 4px;
            margin-bottom: 0;
                span {
                    color: $color4;
                }
        }
        .src {
            color: $color4;
        }
}
// fin footer

// inicio news
.Container1{
    margin: 15px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        img{
            border-radius: 15px;
            width: 450px;
            height: 450px;
            margin: 10px 10px 10px 10px ;
        }
        p{
            text-align: start;
            margin: 10px 40px 10px 10px;
            span{
                text-align: center;
                color: $color3;
                font-size: 20px;
                text-transform: uppercase;
            }
        }
}
.Container2{
    margin: 15px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
        img{
            border-radius: 15px;
            width: 450px;
            height: 450px;
            margin: 10px 40px 10px 10px ;
        }
        p{
            text-align: start;
            margin: 10px 10px 10px 10px;
        }
        span{
            text-align: center;
            color: $color3;
            font-size: 20px;
            text-transform: uppercase;
        }
}
// fin de news

// inicio menu
.ContainerBurgers {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
}

.ContainerFriedChicken {
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
}

.ContainerEspeciales {
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
    padding-bottom: 50px;
}

.ContainerMenu .card {
    box-shadow: -1px 0px 5px 3px rgba(117,117,117,0.1);
        .card-body {
            min-height: 200px;
        }
}
// fin de menu

// inicio about us
.Containercheff {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        img {
            border-radius: 30px;
            width: 450px;
            height: 300px;
            margin-left: 25px;
        }
        p {
            margin: 10px 10px 10px 10px;
        }        
}

.Containerlocal {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
        img {
            border-radius: 30px;
            width: 450px;
            height: 450px;
            margin-right: 25px;
        }
        p {
            margin: 10px 10px 10px 10px;
        }
}
// fin about us

// inicio contacto
.containercontacto {
    width: 100%;
    height: 900px;
    margin-top: 30px;
        form {
            width: 700px;
            height: 450px;
            display: inline;
            input {
                width: 50%;
                border: 1px solid black;
                background-color: $color1;
                color: $color2;
                padding: 12px 20px;
                box-sizing: border-box;
            }
        }
        p {
            font-family: $font2;
            font-size: 15px;
        }
        label {
            width: 50%;
            margin-top: 10px;
            margin-bottom: 1px;
            font-family: $font1;
            font-size: 25px;
            color: black;
            display: inline-block;
        }
        .btn {
            width: 200px;
            height: 35px;
            font-size: 25px;
            font-family: $font1;
            border: 1px solid black;
            background-color: $color1;
            margin-top: 20px;
            background-image: linear-gradient(transparent 0%,
                    transparent 97%,
                    black 90%,
                    black 100%);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
            transition: background-size 300ms;
                &:hover {
                    background-size: 100% 100%;
                    background-position-x: left;
                }
        }
        li {
            list-style: none;
        }
}
textarea {
    width: 50%;
    height: 150px;
    background-color: $color1;
    color: $color2;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    resize: none;
}
// fin de contacto

// inicio h y p
h1 {
    font-size: 40px;
    font-family: $font1;
    margin-top: 15px;
    color: $color2;
    text-align: center;
    font-weight: 600;
}
h2 {
    font-size: 35px;
    font-family: $font1;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color2;
    text-align: center;
    text-transform: capitalize;
}
h3 {
    font-size: 30px;
    font-family: $font1;
    color: $color2;
    text-align: center;
    text-transform: capitalize;
    font-weight: lighter;
}
h4 {
    font-size: 30px;
    font-family: $font1;
    color: $color2;
    text-align: center;
    text-transform: capitalize;
}
hr {
    margin-left: 50px;
    margin-right: 50px;
}
// fin h y p

@import "mediaqueries";