// inicio menu

.ContainerBurgers {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
}

.ContainerFriedChicken {
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
}

.ContainerEspeciales {
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
    padding-bottom: 50px;
}

.ContainerMenu .card {
    box-shadow: -1px 0px 5px 3px rgba(117,117,117,0.1);
}

.ContainerMenu .card .card-body {
    min-height: 200px;
}

// fin de menu